body {
  font-size: 20px;
  margin: 20px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 100%;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 800px) {
  body {
    background-color: whitesmoke;
    font-size: 25px;
    margin: 50px;
  }

  figure {
      margin: 20px;
  }

  .figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: azure;
    font-size: 30px;
    margin: 70px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}